<div class="ad d-flex jcc aic">
    <p>加入會員取得 9 折優惠</p>
    <button type="button" class="black">馬上註冊</button>

</div>

<div class="footer sm-container">
    <div class="d-flex jcsb aic mb-24 sm-mb-none ">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg"
            alt="logo" class="pdy-8 pdx-12 w-129 sm-mg-12">
        <div class="d-flex aic d-none">
            <ul class="minw-174 d-flex jcsb">
                <li><a href="#" class="grey">商品列表</a></li>
                <li><a href="week1.html" class="grey">品牌故事</a></li>
            </ul>
        </div>
    </div>
    <div class="d-flex d-unnone sm-container mb-24">
        <ul class="footer-list">
            <li><a href="#" class="f-Neutral-900">商品列表</a></li>
            <li><a href="week1.html" class="f-Neutral-900">品牌故事</a></li>
        </ul>
    </div>
    <div class="Copyright">
        <p>
            Copyright ©2025 URBNSTYLE
        </p>
        <p>All Rights Reserved.</p>
    </div>
</div>