<nav>
    <div class="container d-flex jcsb">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg"
            alt="logo" class="pdy-8 pdx-12 mr-48 w-129 phone-logo">
        <div class="mr-auto d-flex aic">
            <ul class="minw-174 d-flex jcsb d-none">
                <li><a href="week2.html" class="grey">商品列表</a></li>
                <li><a href="week1.html" class="grey">品牌故事</a></li>
            </ul>
        </div>
        <a href="#" class="green icon d-flex aic">
            <i class="bi bi-person pd-12"></i>
        </a>
    </div>
</nav>