*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $neutral-900;
}

a {
    text-decoration: none;
    display: block;
    color: $neutral-900;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1296px;
    margin: auto;

    @media (max-width: 576px) {
        max-width: 375px;
    }
}

.d-flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.tac {
    text-align: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.mt-32 {
    margin-top: 32px;
}

.mr-auto {
    margin-right: auto;
}

.mr-48 {
    margin-right: 48px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-48 {
    margin-bottom: 48px;
}

.pdx-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pdx-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.pdy-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pd-12 {
    padding: 12px;
}

.pdy-12 {
    padding-bottom: 12px;
    padding-top: 12px;
}

.pdx-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pt-48 {
    padding-top: 48px;
}

.pr-12 {
    padding-right: 12px;
}

.pr-24 {
    padding-right: 24px;
}

.pl-12 {
    padding-left: 12px;
}

.d-none {
    @media (max-width:576px) {
        display: none;
    }

}

.minw-174 {
    min-width: 174px;
}

.d-unnone {
    @media (min-width:576px) {
        display: none;
    }
}

.fw {
    &-700 {
        font-weight: 700;
    }

    &-400 {
        font-weight: 400;
    }

    &-500 {
        font-weight: 500;
    }
}

.fsz {
    &-28 {
        font-size: 28px;
    }

    &-16 {
        font-size: 16px;
    }

    &-32 {
        font-size: 32px;
    }

    &-14 {
        font-size: 14px;
    }
}

.no-cursor {
    cursor: default;
}


.color {
    &-neutral600 {
        color: $neutral-600;
    }

    &-netural500 {
        color: $neutral-500;
    }

    &-sign {
        color: #D74F4F;
    }
}

.h {
    &-primary400:hover {
        color: $primary-400;
    }

    &-bg-neutral200:hover {
        background-color: $neutral-200;
    }
}