.w-129 {
  width: 129px;

}

.minw-174 {
  min-width: 174px;
}

.icon {
  font-size: 24px;
}

.phone-logo {

  @media (max-width:576px) {
    padding: 0;
    margin-right: -48px;
  }
}

.d-none {
  @media (max-width:576px) {
    display: none;
  }

}