$primary-100: #F5FEE7;
$primary-200: #E8FEC5;
$primary-300: #C0FA73;
$primary-400: #57A203;
$primary-500: #477A11;

$neutral-0: #FFFFFF;
$neutral-100: #F8F9FA;
$neutral-200: #E9ECEF;
$neutral-300: #DEE2E6;
$neutral-400: #CED4DA;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-700: #495057;
$neutral-800: #343A40;
$neutral-900: #212529;


$spacing-xxs: 4px;
$spacing-xs: $spacing-xxs*2;
$spacing-s: $spacing-xxs*3;
$spacing-m: $spacing-xxs*4;
$spacing-l: $spacing-xxs*6;
$spacing-xl: $spacing-xxs*8;
$spacing-2xl: $spacing-xxs*10;
$spacing-3xl: $spacing-xxs*12;
$spacing-4xl: $spacing-xxs*14;
$spacing-5xl: $spacing-xxs*16;
$spacing-6xl: $spacing-xxs*20;

$radius-sm: 4px;
$radius-md: 12px;
$radius-rounded: 1000px;