.week1 {
    &-header {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
        padding: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        margin-bottom: 16px;

        @media (max-width:576px) {
            padding: 87px;
            margin-bottom: 8px;
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true);

        }
    }


    &-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: center;
        color: #FFFFFF;

        h2 {
            font-size: 28px;
            color: #FFFFFF;
            margin: 0;
        }

        @media (max-wdith:576px) {
            font-size: 28px;

            h2 {
                font-size: 20px;
            }
        }

    }

    &-container {
        max-width: 856px;
        margin: auto;

        @media (max-width:576px) {
            padding: 12px;
        }
    }

    &-h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        color: #57A203;
        letter-spacing: 0.05em;


    }

    &-h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        color: #212529;
        letter-spacing: 0.05em;
        margin: 24px 0;

    }



}



.block1 {
    &-style {
        background-color: #F5FEE7;
        text-align: center;
        border-radius: 10px;

        @media (max-width:576px) {
            text-align: left;
        }

    }

    &-structure {
        margin: 48px auto;
        padding: 32px;

        @media (max-width:576px) {
            padding: 24px;
        }

    }


}

@media(max-width:576px) {
    .sm-h3-fsz {
        font-size: 16px;
        padding: 1px;
    }

    .sm-mb-8 {
        margin-bottom: 8px;
    }

    .sm-mb-12 {
        margin-bottom: 12px;
    }
}

.mx-110 {
    margin-right: -110px;
    margin-left: -110px;

    @media (max-width:1100px) {
        margin-right: 0px;
        margin-left: 0px;

    }


    @media (max-width:576px) {
        margin-right: 0px;
        margin-left: 0px;

    }
}

.block2 {
    &-structure {
        padding-bottom: 48px;
        border-bottom: 1px solid #DEE2E6;
        margin-bottom: 48px;

        @media (max-width:576px) {
            margin-bottom: 32px;
            padding-bottom: 32px;
        }
    }
}

.list {
    list-style-type: disc;
    padding-left: 20px;


}

li p {
    display: inline;

    @media (max-width:576px) {}
}

.border {
    border-right: 1px solid #212529;
    padding-right: 5px;

    &-2 {
        border-left: 3px solid #DEE2E6;
        padding-left: 5px;
    }
}

a {
    text-decoration: none;

    p {
        color: #57A203;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.05em;
        border-bottom: 1px solid #57A203;
        padding-bottom: 8px;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
    color: #57A203;
}