.container-1296-my64 {
    max-width: 1296px;
    margin: 64px auto;
    padding-left: 12px;
    padding-right: 12px;

    @media (max-width: 576px) {
        max-width: 375px;
        margin: 16px 12px;
    }
}

.col {
    &-2-2 {
        margin-bottom: 8px;
        width: 50%;
        padding-right: 4px;
        padding-left: 4px;

        &-2 {
            width: 72px;
            padding-left: 4px;
            padding-right: 4px;
        }

        &-3 {
            width: 160px;
            padding-left: 4px;
            padding-right: 4px;
        }

        &-4 {
            width: 259px;
            padding-left: 4px;
            padding-right: 4px;
        }

        &-5 {
            width: 25%;
            padding-left: 12px;
            padding-right: 12px;
        }
    }


}


.section-w {
    width: 57%;
    margin-right: -4px;
    margin-left: -4px;
}

.aside-w {
    width: 526px;
}

.discount {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: $primary-400;
}

.price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    color: $neutral-500;
}

.mx-n-4 {
    margin-right: -4px;
    margin-left: -4px;
}

.button {

    &-white {
        width: 100%;
        border: 1px solid $neutral-900;
        border-radius: 4px;
        background-color: $neutral-0;
        padding: 12px 24px;

        &:hover {
            background-color: $neutral-900;
            color: $neutral-0;
        }
    }

    &-black {
        width: 100%;
        border: 1px solid $neutral-900;
        border-radius: 4px;
        background-color: $neutral-900;
        color: $neutral-0;
        padding: 12px 24px;

        &:hover {
            background-color: $neutral-700;
            color: $neutral-0;
        }
    }

}

.icon {
    &-button {
        font-size: 20px;
        display: inline-block;
        padding: 2px 0;
        padding-right: 8px;
    }


}


.sizecard {
    padding: 12px 24px;
    border: 1px solid $neutral-900;
    border-radius: 4px;


    &-unselected {
        padding: 12px 24px;
        border: 1px solid $neutral-300;
        border-radius: 4px;
        cursor: pointer;
    }

    &-unselected:hover {
        border: 1px solid $neutral-900;
    }

    &-out {
        padding: 12px 24px;
        border: 1px solid $neutral-200;
        border-radius: 4px;
        color: $neutral-300;
    }
}

.borderline-2-2 {
    border-bottom: 1px solid $neutral-300;
    padding: 12px 0;
}