<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表頁 </title>
    <%- include('./layout/link'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container-1296">
            <nav>
                <ul class="maxw-195 d-flex jcsb aic mb-24">
                    <li><a href="index.html" class="color-neutral600 h-primary400">首頁</a></li>
                    <li class="color-neutral600">/</li>
                    <li class="color-neutral600 h-primary400">女鞋</li>
                    <li class="color-neutral600">/</li>
                    <li>所有商品</li>
                </ul>
            </nav>
            <h1 class="mb-24 fw-700 fsz-28">女鞋</h1>
            <main class="d-flex jcsb sm-jcc">
                <aside class="w-196 pr-24 d-none">
                    <ul>
                        <li><a href="#" class="pdy-8 title mb-16">所有商品</a></li>
                        <li><a href="#" class="pdy-8 h-primary400 mb-16">慢跑鞋</a></li>
                        <li><a href="#" class="pdy-8 h-primary400 mb-16">滑板鞋</a></li>
                        <li><a href="#" class="pdy-8 h-primary400 mb-16">厚底鞋</a></li>
                        <li><a href="#" class="pdy-8 h-primary400">限定 / 聯名企劃</a></li>
                    </ul>
                </aside>
                <section class="w-83 sm-w-100 sm-m-auto">
                    <div class="d-flex f-wrap jcsb mx-12">
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
                                    alt="shoes1">
                                <h3>PLATFORM 404</h3>
                                <p>NT$2,600</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                                    alt="shoes2">
                                <h3>PLATFORM 404</h3>
                                <p>NT$2,600</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                                    alt="shoes3">
                                <h3>VM001</h3>
                                <p>NT$2,600</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                                    alt="shoes4">
                                <h3>Melty Kiss</h3>
                                <p>NT$4,000</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                                    alt="shoes5">
                                <h3>BOOMBLOK</h3>
                                <p>NT$3,200</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true"
                                    alt="shoes6">
                                <h3>BOOMBLOK</h3>
                                <p>NT$3,200</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                                    alt="shoes7">
                                <h3>R:UNER</h3>
                                <p>NT$4,000</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                                    alt="shoes8">
                                <h3>Sugar Snap</h3>
                                <p>NT$4,000</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true"
                                    alt="shoes9">
                                <h3>Neofoam1</h3>
                                <p>NT$4,000</p>
                            </div>
                        </div>
                        <div class="col d-unnone">
                            <div class="card">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true"
                                    alt="shoes10">
                                <h3>Buttermood</h3>
                                <p>NT$4,000</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="nav-list d-flex jcsb aic">
                            <li><a href="#" class="color-netural500"><i class="bi bi-chevron-left"></i></a></li>
                            <li><a href="#" class="bg-primary300">1</a></li>
                            <li><a href="#" class="h-bg-neutral200">2</a></li>
                            <li><a href="#" class="h-bg-neutral200">3</a></li>
                            <li><a href="#" class="h-bg-neutral200">...</a></li>
                            <li><a href="#" class="h-bg-neutral200">10</a></li>
                            <li><a href="#" class="h-primary400 "><i class="bi bi-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </section>
            </main>
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>

</body>

</html>